/* RESET */

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

button {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

body {
  background-color: #ddd;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.wrapper {
  width: 1170px;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background: #070707;
  width: 100%;
  /* especifica a ordem-z de um elemento e de seus herdeiros. Quando os elementos sobrepõem, a z-ordem determina qual elemento cobre o outro */
  z-index: 12;
  position: relative;
}

.logo {
  width: 30%;
  float: left;
  line-height: 100px;
}

.logo a {
  text-decoration: none;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  letter-spacing: 5px;
}

nav {
  float: right;
  line-height: 100px;
  
}

nav a {
  text-decoration: none;
  font-family: 'Poppins midium', sans-serif;
  letter-spacing: 3px;
  /* espaço entre as letras */
  font-size: 15px;
  margin: 0 10px;
  color: #ffffff;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: #666866;
}

.nav-links li a {
  color: #edf0f1;
}

button {
  margin-right: 5%;
  padding: 8px 15px;
  background-color: #a3aaac;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: #666869;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6em;
  margin-bottom: 3em;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 30px;
  ;
}

.item {
  background-color: #fff;
  cursor: pointer;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .095);
}

.item-text {
  padding: 1em;
}

.item-img {
  max-width: 100%;
  display: block;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  margin: auto;
  background: #c5c5c5;
  padding: 5px 0;
}

.footer-social {
  width: 100%;
  height: auto;
  margin: auto;
}

.footer-social ul {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

#gmail-button {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 0 10px;
  border-radius: 100%;
}

#in-button {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 0 10px;
  border-radius: 100%;
}

#ghub-button {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 0 px;
  border-radius: 100%;
}

@media screen and (min-width: 600px) {
  .container {
    grid-template-columns: repeat (2, 1fr);
  }
}

@media screen and (min-width: 960px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}